.btn-primary{
    color: #422AD5;
}

* {
    font-family: "Poppins", sans-serif;
}

.font-bangla{
    font-family: "Hind Siliguri", sans-serif;
}

.active{
    background-color: #422AD5;
}
.active span{
    color: white;
}